img{
    width: 250px;
    height: 250px;
}
img:hover{
    opacity: 0.7;
    cursor: pointer;
}
.card{
    width: 600px;
    height: 350px;
}
.mat-card{
    width: 350px;
    background-color: rgb(61, 44, 141);
    justify-content: center;
    text-align: center;
  
}
.mat-card button{
  
  width: 100px;
  color: rgb(5, 3, 3);
  background-color: aliceblue;
}

.btn-see{
    background-color: white;
    bottom: 0;
}
.gen-btn{
    background-color: rgb(236, 179, 101);
    color: black;
}